body
{
  font-family: 'Press Start 2P';
}
#cheese
{
  background-color: #999999;
    font-family: 'Press Start 2P';

}
#button
{
  background-color: #999999;
    font-family: 'Press Start 2P';

}
